<!DOCTYPE html>
<html>
    <head>
        <title>Recipe App!</title>
    </head>
    <body>
        <h1>What ingredients do you have?</h1>
        <form method="POST" action="/recipe_result">
            <p>Enter what you have in your fridge: <input type="text" name="ingredients"></p> 
            <p>What type of meal would you ike to make: <input type="text" name="query"></p>
            <input type="submit" value="Get Recipes!">
        </form>
    </body>
</html>