<!DOCTYPE html>
<html>
    <head>
        <title>Recipe App!</title>
    </head>
    <body>
        <h1>Recipe-fy</h1>
        <ul>
            <% @results_array.each do |recipe| %>
                <li><%= recipe %></li>
            <% end %>
        </ul>
    </body>
</html>